html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #98BC9C;
}

.page-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start; 
  height: 100vh;
}

.title-container {
  display: flex;
  align-items: center; /* Vertically align logo and text */
  padding:1% 7%;
  color: rgb(0, 0, 0);
}

table {
  border-color: red;
  width: 100%;
}

.weather {
  padding:1%;
  color: rgb(0, 0, 0);
  white-space: pre;
}

.title-container img {
  height: 50px; /* Adjust height to fit header */
  width: auto; /* Maintain aspect ratio */
  margin-right: 10px;
}

.title-container h1 {
  font-size: 2rem;
  margin: 0;
  font-family: 'Georgia', serif;
}

/* Container holding the map */
#map-container {
  width: 90%; /* Map width */
  height: 85%; /* Map height */
  border-radius: 40px; /* Rounded corners */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.75); /* shadow */ 
}

/* Actual Map */
#map-inner-container {
  width: 100%; /* Fill the parent container */
  height: 100%; /* Fill the parent container */
  border-radius: inherit; /* Inherit rounded corners */
  overflow: hidden; /* Prevent map overflow */
}
/* Escape button */
.escape-button {
  width: 10%;
  height: 5%;
  z-index: 1;
  z-index: 1;
  border-radius: 10px;
  position: absolute;
  right: 5%;
  margin-right: 20px;
  margin-top: 20px; 
}

.card{
  z-index: 1;
  position: absolute;
  width:40%;
  height:75%;
  margin: 40px;
  background-color: rgb(212, 211, 207);
  border-width: 5px;
  border-color: black;
  border-radius: 20px;
}
.card-header{
  text-align: center;
}

.to-reviews{
  display: flex;
  float: right;
  padding: 5px;
  border-radius: 5px;
}

.bathroom{
  padding: 10px;
}

h2 + hr{
  border-width: 2px;
}